{% extends "base.jinja" %}
{% block head %}
<link rel="preload" href="/assets/css/blog.css?v={{app.ctx.CURRENT_COMMIT}}" as="style">
<link rel="stylesheet" type="text/css" href="/assets/css/blog.css?v={{app.ctx.CURRENT_COMMIT}}">
{%- block child_block_include -%}{%- endblock -%}
{% endblock %}
{% block title -%}
    {%- if blog.blog_info.title -%}
        {{blog.blog_info.title | e}}
    {%- else -%}
        {{blog.blog_info.name | e}}
    {%- endif -%}
{% endblock %}

{% block center %}
    {%- include 'components/blog_header.jinja' -%}

    <form class="blog-search-bar search-bar" method="get" action="/{{blog.blog_info.name}}/search" autocomplete="off">
        {{-search_icon(20, 20)}}
        {%- if blog_search_query is defined -%}
            <input name="q" type="text" value="{{blog_search_query | e}}" placeholder="{{translate(request.ctx.language, "blog_search_placeholder_text")}}"></input>
        {%- else -%}
            <input name="q" type="text" placeholder={{translate(request.ctx.language, "blog_search_placeholder_text")}}></input>
        {%- endif -%}
    </form>
    
    {%- block blog_contents %}
    {%- endblock %}

    {%- if blog.next %}
        <div class="paging">
            {% block paging %}
                <a class="primary next-page button" href="{{request.path}}?continuation={{blog.next.cursor | urlencode}}#m">
                    {{translate(request.ctx.language, "pagination_next_page")}}
                </a>
            {% endblock%}
        </div>
    {% endif %}
{%- endblock %}
