{% extends "blog/base_blog.jinja" %}
{% block child_block_include %}
<link rel="alternate" type="application/rss+xml" href="{{request.path}}?rss_feed=1"/>
{% endblock %}

{% block blog_contents %}
    {% if blog.blog_info.requires_account_to_view %}
        <div class="alerts">
            {% include "components/alerts/warn_account_walled_blog_on_post_alert.jinja"%}
        </div>
    {% endif %}

    <div class="blog-posts">
        {%- include 'post/post.jinja' -%}
    </div>
{% endblock %}