{% extends "blog/base_blog.jinja" %}
{% block child_block_include %}
<link rel="alternate" type="application/rss+xml" href="{{request.path}}?rss_feed=1"
{% endblock %}

{% block blog_contents %}
    <div class="blog-posts">
        {%- include 'post/post.jinja' -%}
    </div>
{% endblock %}