{% from 'components/icons/reblog.jinja' import reblog_icon  %}

{%macro create_post_header(request, element, skip_reblog = False, use_this_post_url = None)%}
<div class="post-header">
    <div class="post-author">
        {%- if element.blog.active -%}
            <a href="/{{element.blog.name}}"><img class="avatar" alt="{{translate(request.ctx.language, "blog_avatar_alt")}}" loading="lazy" src="{{url_handler(element.blog.avatar[-1].url)}}"></a>
        {%- else -%}
            <img class="avatar" alt="{{translate(request.ctx.language, "blog_avatar_alt")}}" loading="lazy" src="/assets/images/anon_96px.png?v=1">
        {% endif %}
        <div class="author-information">
            <div class="primary-post-author">
                {%- if element.blog.active is false -%}
                    <span class="link blog-name deactivated-blog">{{element.blog.name}}</span>
                {%- elif element.blog.url is defined -%}
                    <a class="link blog-name" href="/{{element.blog.name}}">{{element.blog.name}}</a>
                {%- else -%}
                    <span class="link blog-name broken-blog" href="/{{element.blog.name}}">{{element.blog.name}}</span>
                {%- endif -%}

                {% if element.date %}
                    <span class="separator">•</span>
                    <span class="post-timestamp" title="{{element.date | format_datetime(locale=request.ctx.language)}}">
                        {%- if use_this_post_url -%}
                            {%- set post_url = use_this_post_url | ensure_single_prefix_slash -%}
                        {%- else -%}
                            {%- set post_url = "/" + element.blog.name|e + "/" + element.id -%}
                            {%- if element.slug -%}
                                {% set post_url = post_url + "/" + element.slug | e -%}
                            {%- endif -%}
                        {%- endif -%}
                        <a href="{{post_url | ensure_single_prefix_slash}}">
                            <time datetime="{{element.date.strftime("%Y-%m-%dT%H:%M")}}">{{element.date | format_date(locale=request.ctx.language)}}</time>
                        </a>
                    </span>
                {%- endif -%}
            </div>
            {%- if element.reblog_from and not skip_reblog -%}
                {#- The reblog from data can sometimes have an empty blog name. Thus we'll extract the name from the root reblog info if they're the same -#}
                {# Though sometimes the reblog data is just hidden #}
                    <div class="reblog-attribution">
                        {{reblog_icon(16, 16)}}
                        {{create_reblog_attribution(element)}}
                    </div>
            {%- endif -%}
        </div>
    </div>
</div>
{% endmacro -%}