
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/assets/base-post-layout.css?v={{app.ctx.CURRENT_COMMIT}}">
<link rel="stylesheet" type="text/css" href="/assets/post-layout.css?v={{app.ctx.CURRENT_COMMIT}}">
{% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>