{% from 'components/icons/search.jinja' import search_icon  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="/assets/css/base.css?v={{app.ctx.CURRENT_COMMIT}}" as="style">
    <link rel="preload" href="/assets/css/base-post-layout.css?v={{app.ctx.NPF_RENDERER_VERSION}}" as="style">
    <link rel="stylesheet" type="text/css" href="/assets/css/base.css?v={{app.ctx.CURRENT_COMMIT}}">
    <link rel="stylesheet" type="text/css" href="/assets/css/base-post-layout.css?v={{app.ctx.NPF_RENDERER_VERSION}}">
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css?v={{app.ctx.CURRENT_COMMIT}}">
    <link rel="stylesheet" type="text/css" href="/assets/css/post-layout.css?v={{app.ctx.CURRENT_COMMIT}}">
    <script src="/assets/js/base.js?v={{app.ctx.CURRENT_COMMIT}}" defer></script>
    <script src="/assets/js/post.js?v={{app.ctx.CURRENT_COMMIT}}" defer></script>
    <noscript><style>.with-js {display: none;}</style></noscript>
    <script src="/assets/js/interaction.js?v={{app.ctx.CURRENT_COMMIT}}" defer></script>
    {%- block head -%}
    {%- endblock -%}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="left-section">
                <a class="logo" href="/">Priviblur</a>
                <form class="search-bar" method="get" action="/search" autocomplete="off">
                    {{-search_icon(20, 20, fill="#9c9c9c")}}
                    {%- if query is defined -%}
                        <input name="q" type="text" value="{{query | e}}" placeholder="Search"></input>
                    {%- elif tag is defined -%}
                        <input name="q" type="text" value="#{{tag | e}}" placeholder="Search"></input>
                    {%- else -%}
                        <input name="q" type="text" placeholder="Search"></input>
                    {%- endif -%}
                </form> 
            </div>
            <div class="center-section">
                <a class="nav-tab{% if request.endpoint and request.endpoint == "Priviblur.explore._today" %} selected-tab{% endif %}" href="/explore/today" title="Today on Tumblr">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path fill="#6b7280" d="M686.588-120q-47.254 0-80.254-33.055-33-33.056-33-80.278 0-46.667 33.078-80t80.333-33.333q47.255 0 80.255 33.333Q800-280 800-233t-33.078 80q-33.079 33-80.334 33Zm-23.254-273.333v-73.333H710v73.333h-46.666Zm0 393.333v-73.333H710V0h-46.666Zm152.333-329.667-33-33.333L835-415.333l33.333 33-52.666 52.666Zm-278 278L505-84.333 557.334-136 590-104l-52.333 52.333Zm309-158.333v-46.666H920V-210h-73.333Zm-393.333 0v-46.666h73.333V-210h-73.333ZM835.667-51.667l-52-53 32.666-32.666 52.334 52-33 33.666ZM556.334-330 505-381.666 537.667-415l51.666 52-32.999 33ZM186.666-80q-27 0-46.833-19.833T120-146.666v-600.001q0-27 19.833-46.833 19.833-19.834 46.833-19.834h56.667V-880h70v66.666h333.334V-880h70v66.666h56.667q27 0 46.833 19.834Q840-773.667 840-746.667v180H186.666v420.001h166.667V-80H186.666Zm0-553.333h586.668v-113.334H186.666v113.334Zm0 0v-113.334 113.334Z"></path></svg>
                </a>
                <a class="nav-tab{% if request.endpoint == "Priviblur.explore._trending"%} selected-tab{%endif%}" href="/explore/trending" title="Trending">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path fill="#6b7280" d="m136-240-56-56 296-298 160 160 208-206H640v-80h240v240h-80v-104L536-320 376-480 136-240Z"/></svg>
                </a>
            </div>
            <div class="right-section">
                <a href="https://www.tumblr.com{{request.path}}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 320 512" role="img" aria-label="View page on Tumblr">
                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <title>View page on Tumblr</title>
                        <path fill="#6b7280" d="M309.8 480.3c-13.6 14.5-50 31.7-97.4 31.7-120.8 0-147-88.8-147-140.6v-144H17.9c-5.5 0-10-4.5-10-10v-68c0-7.2 4.5-13.6 11.3-16 62-21.8 81.5-76 84.3-117.1.8-11 6.5-16.3 16.1-16.3h70.9c5.5 0 10 4.5 10 10v115.2h83c5.5 0 10 4.4 10 9.9v81.7c0 5.5-4.5 10-10 10h-83.4V360c0 34.2 23.7 53.6 68 35.8 4.8-1.9 9-3.2 12.7-2.2 3.5.9 5.8 3.4 7.4 7.9l22 64.3c1.8 5 3.3 10.6-.4 14.5z"/>
                    </svg>
                </a>
            </div>
        </nav>
        <div class="contents">
            <div class="left-column"></div>
            <div class="center-column">
                {%- block center -%}
                {%- endblock -%}
            </div>
            <div class="right-column"></div>
        </div>
        <div class="buffer"></div>
        <footer class="page-footer">
            <span title="Version"> Version {{app.ctx.VERSION}}</span>
            <a href="https://www.github.com/syeopite/priviblur" title="Source"> Source</a>
            <a href="https://www.github.com/syeopite/priviblur#donate" title="Donate"> Donate</a>
            <a href="/priviblur/licences" title="Licences"> Licences</a>
        </footer>
    </div>
</body>
</html>