
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/assets/base-post-layout.css?v={{app.ctx.CURRENT_COMMIT}}">
<link rel="stylesheet" type="text/css" href="/assets/post-layout.css?v={{app.ctx.CURRENT_COMMIT}}">
<link rel="stylesheet" type="text/css" href="/assets/base.css?v={{app.ctx.CURRENT_COMMIT}}">
{% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <nav class="navbar">
        <form class="search-bar" method="get" action="/search" autocomplete="off">
        {% if query is defined%}
            <input name="q" type="text" value="{{query}}" placeholder="Search"></input>
        {% else %}
            <input name="q" type="text" placeholder="Search"></input>
        {% endif %}
        </form>
    </nav>
    <div class="container">
        <div class="layout-left-column"></div>
        <div class="layout-middle-column">
            {% block content %}
            {% endblock %}
        </div>
        <div class="layout-right-column"></div>
    </div>
</body>
</html>