{% extends "base.jinja" %}
{% block head %}
<link rel="preload" href="/assets/css/blog.css?v={{app.ctx.NPF_RENDERER_VERSION}}" as="style">
<link rel="stylesheet" type="text/css" href="/assets/css/blog.css?v={{app.ctx.NPF_RENDERER_VERSION}}">
{% endblock %}
{% block title %}{{blog.blog_info.name | e}} - Privblur{% endblock %}

{% block content %}
    {% include 'components/blog_header.jinja' %}
    {% include 'components/blog_contents.jinja' %}

    {%- if blog.next %}
        <div class="paging">
            <a class="next-page button" href="{{request.path}}?continuation={{blog.next.cursor | urlencode}}">
                {{translate("en", "pagination_next_page")}}
            </a>
        </div>
    {% endif %}

{%- endblock %}