{% extends "base.jinja" %}
{% block head %}
<link rel="preload" href="/assets/css/blog.css?v={{app.ctx.CURRENT_COMMIT}}" as="style">
<link rel="stylesheet" type="text/css" href="/assets/css/blog.css?v={{app.ctx.CURRENT_COMMIT}}">
{% endblock %}
{% block title -%}
    {%- if blog.blog_info.title -%}
        {{blog.blog_info.title | e}} - Priviblur
    {%- else -%}
        {{blog.blog_info.name | e}} - Priviblur
    {%- endif -%}
{% endblock %}

{% block content %}
    {% include 'components/blog_header.jinja' %}
    {% include 'components/blog_contents.jinja' %}

    {%- if blog.next %}
        <div class="paging">
            <a class="next-page button" href="{{request.path}}?continuation={{blog.next.cursor | urlencode}}#m">
                {{translate("en", "pagination_next_page")}}
            </a>
        </div>
    {% endif %}

{%- endblock %}
