{% extends "base.jinja" %}
{% block head %}
<link rel="preload" href="/assets/css/blog.css?v={{app.ctx.NPF_RENDERER_VERSION}}" as="style">
<link rel="stylesheet" type="text/css" href="/assets/css/blog.css?v={{app.ctx.NPF_RENDERER_VERSION}}">
{% endblock %}
{% block title %}{{html_escape(blog.blog_info.name)}} - Privblur{% endblock %}
{% block content %}
{% include 'components/blog_header.jinja' %}

<div class="blog-posts">
{%- include 'components/post.jinja' -%}
</div>
{% endblock %}