{% extends "base.jinja" %}
{% block title %}Trending Topics - Privblur{% endblock %}
{% block content %}
    {% include 'components/timeline.jinja' %}

    {%- if timeline.next %}
        <div class="paging">
            <div class="next-page button">
                <a href="{{request.path}}?continuation={{timeline.next.cursor | urlencode}}">{{translate("en", "pagination_next_page")}}</a>
            </div>
        </div>
    {% endif %}

{%- endblock %}