{% extends "base.jinja" %}
{% block title %}Trending Topics - Privblur{% endblock %}
{% block content %}
    {% for element in timeline.elements %}
        {% include 'components/post.jinja' %}
        <br>
        <hr>
        <br>
    {% endfor %}
{%endblock %}