{% extends "base.jinja" %}
{% block title %}{{query | e}} - Priviblur{% endblock %}
{% from 'components/icons/expand.jinja' import dropdown_icon  %}
{% from 'macros/add_query.jinja' import add_query  %}
{% block content %}
    <ul id="timeline-control-bar">
        <li class="control-bar-action" id="sort-by-filter" title="{{translate("en", "timeline_search_sort_by_filter_title")}}">{{translate("en", "timeline_search_sort_by_filter_" + sort_by)}}{{dropdown_icon(16,16, "#6b7280")}}
            <ul class="control-bar-dropdown-menu">
                {%- if post_filter -%}
                    <li {% if sort_by == "popular"%} class="selected" {% endif %}><a href="/search/{{query}}/{{post_filter}}{{ add_query(query_args | deseq_urlencode) }}">{{translate("en", "timeline_search_sort_by_filter_popular")}}</a></li>
                    <li {% if sort_by == "recent"%} class="selected" {% endif %}><a href="/search/{{query}}/recent/{{post_filter}}{{ add_query(query_args | deseq_urlencode) }}">{{translate("en", "timeline_search_sort_by_filter_recent")}}</a></li>
                {%- else -%}
                    <li {% if sort_by == "popular"%} class="selected"{% endif %}> <a href="/search/{{query}}{{ add_query(query_args | deseq_urlencode) }}">{{translate("en", "timeline_search_sort_by_filter_popular")}}</a></li>
                    <li {% if sort_by == "recent"%} class="selected"{% endif %}> <a href="/search/{{query}}/recent{{ add_query(query_args | deseq_urlencode )}}">{{translate("en", "timeline_search_sort_by_filter_recent")}}</a></li>    
                {%- endif -%}
            </ul>
        </li>

        {%- if sort_by == "popular" -%}
            <li class="control-bar-action" id="filter-by-date-filter" title="{{translate("en", "timeline_search_filter_by_date_filter_title")}}">{{translate("en", "timeline_search_filter_by_date_filter_" + (time_filter | string))}}{{dropdown_icon(16,16, "#6b7280")}}
                <ul class="control-bar-dropdown-menu">
                    <li {% if time_filter == 0 %} class="selected" {% endif %}><a href="{{request.path}}{{ add_query(query_args | remove_query_params("t")) }}">{{translate("en", "timeline_search_filter_by_date_filter_0")}}</a></li>
                    {%- for time in ("365", "180", "30", "7", "1") -%}
                        <li {% if time_filter == time %} class="selected" {% endif %}><a href="{{request.path}}{{ add_query(query_args | update_query_params("t", time)) }}">{{translate("en", "timeline_search_filter_by_date_filter_" + time | string)}}</a></li>
                    {%- endfor -%}
                </ul>
            </li>
        {%- endif -%}

        {%- if post_filter is none -%}
            {% set selected_post_filter_label = translate("en", "timeline_search_post_type_filter_none")%}
        {%- else -%}
            {% set selected_post_filter_label = translate("en", "timeline_search_post_type_filter_" + post_filter) %}
        {%- endif -%}

        <li class="control-bar-action" id="filter-by-post-type-filter" title="{{translate("en", "timeline_search_post_type_filter_title")}}">{{selected_post_filter_label}}{{dropdown_icon(16,16, "#6b7280")}}
            {#- Supported post filters for search -#}
            <ul class="control-bar-dropdown-menu">
                {%- if sort_by == "recent" -%}
                    <li {% if post_filter is none %} class="selected" {% endif %} ><a href="/search/{{query}}/recent{{ add_query(query_args | deseq_urlencode) }}">{{translate("en", "timeline_search_post_type_filter_none")}}</a></li>
                {%- else -%}
                    <li {% if post_filter is none %} class="selected" {% endif %}> <a href="/search/{{query}}/{{ add_query(query_args | deseq_urlencode) }}">{{translate("en", "timeline_search_post_type_filter_none" )}}</a></li>
                {%- endif -%}

                {%- for post_type in ("text", "photo", "gif", "quote", "link", "chat", "audio", "video", "answer", "poll") -%}
                    {%- if sort_by == "recent" -%}
                        <li {% if post_filter == post_type %} class="selected" {% endif %} ><a href="/search/{{query}}/recent/{{post_type}}{{ add_query(query_args | deseq_urlencode) }}">{{translate("en", "timeline_search_post_type_filter_" + post_type )}}</a></li>
                    {%- else -%}
                        <li {% if post_filter == post_type%} class="selected"{% endif %}> <a href="/search/{{query}}/{{post_type}}{{ add_query(query_args | deseq_urlencode) }}">{{translate("en", "timeline_search_post_type_filter_" + post_type )}}</a></li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>
        </li>
    </ul>

    {%- include 'components/timeline.jinja' -%}

    {%- if timeline.next %}
        <div class="paging">
            <a class="next-page button" href="{{request.path}}{{add_query(query_args | update_query_params("continuation", timeline.next.cursor))}}">
                {{translate("en", "pagination_next_page")}}
            </a>
        </div>
    {% endif %}
{% endblock %}