{% extends "base.jinja" %}
{% block title %}{{query}} - Privblur{% endblock %}
{% block content %}
    {% include 'components/timeline.jinja' %}

    {%- if timeline.next %}
        <div class="paging">
            <a href="{{ app.url_for("search._main", query=query)}}?continuation={{timeline.next.cursor}}">Next Page</a>
        </div>
    {% endif %}
{% endblock %}