{% extends "base.jinja" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/assets/css/settings.css?v={{app.ctx.CURRENT_COMMIT}}">
<script src="/assets/js/settings.js?v={{app.ctx.CURRENT_COMMIT}}" defer></script>
{% endblock %}
{% block title %}{{translate(request.ctx.language, "settings_header")}}{% endblock %}
{% block center %}
    <form class="settings" method="post" action="/settings">
        <div id="setting-heading">
            <h2>{{translate(request.ctx.language, "settings_header")}}</h2>
        </div>
        <hr>
        <!-- Once more options are added, the various settings below
        will be sorted into separate tabs -->
        <div class="main-tab">
            <div id="language-option">
                <div class="option-info-box">
                    <label for="language-selector">{{translate(request.ctx.language, "settings_language_selector")}}</label>
                    <p id="language-selector-info-box">{{translate(request.ctx.language, "settings_language_selector_desc")}}</p>
                </div>
                <select name="language" id="language-selector" aria-describedby="language-selector-info-box">
                {%- for lang in request.app.ctx.SUPPORTED_LANGUAGES %}
                    {% if lang == request.ctx.language %}
                        <option value="{{lang}}" selected>{{-request.app.ctx.LANGUAGE_NAMES[lang]}}</option>
                    {% else %}
                        <option value="{{lang}}">{{-request.app.ctx.LANGUAGE_NAMES[lang]}}</option>
                    {% endif %}
                {%- endfor %}
                </select>
            </div>
        </div>
        <div class="buffer"></div>
        <div id="settings-footer">
            <a id="copy-as-bookmarklet" href="/settings/restore?{{request.ctx.preferences.to_url_encoded()}}">
                {{translate(request.ctx.language, "settings_copy_as_bookmarklet")}}
            </a>
            <div>
                <a href="/settings" class="secondary button">{{translate(request.ctx.language, "settings_cancel_changes")}}</a>
                <input type="submit" class="primary button" value="{{translate(request.ctx.language, "settings_save_changes")}}"/>
            </div>
        </div>
     </form>
{% endblock %}