{% extends "base.jinja" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/assets/css/settings.css?v={{app.ctx.CURRENT_COMMIT}}">
<script src="/assets/js/settings.js?v={{app.ctx.CURRENT_COMMIT}}" defer></script>
{% endblock %}
{% block title %}{{translate(request.ctx.language, "settings_header")}}{% endblock %}
{% block center %}
    <form class="settings" method="post" action="/settings" aria-label="{{translate(request.ctx.language, "settings_header")}}">
        <div id="setting-heading">
            <h2>{{translate(request.ctx.language, "settings_header")}}</h2>
        </div>
        <hr>
        <!-- Once more options are added, the various settings below
        will be sorted into separate tabs -->
        <div class="main-tab">
            <fieldset id="theme-selector" aria-describedby="theme-selector-info-box" role="radiogroup">
                <legend class="option-info-box">
                    <label for="theme-selector">{{translate(request.ctx.language, "settings_theme_selector")}}</h1>
                    <p id="theme-selector-info-box">{{translate(request.ctx.language, "settings_theme_selector_desc")}}</p>
                </legend>
                <input type="radio" id="auto-theme-selector" name="theme" value="auto" {% if request.ctx.preferences.theme =="auto"%}checked{%endif%}/>
                <label for="auto-theme-selector">
                    <img src="/assets/images/priviblur-auto.svg"/>
                    <p>{{translate(request.ctx.language, "settings_theme_selector_option_auto")}}</p>
                </label>
                <input type="radio" id="light-theme-selector" name="theme" value="light" {% if request.ctx.preferences.theme =="light"%}checked{%endif%}/>
                <label for="light-theme-selector">
                    <img src="/assets/images/priviblur-light.svg"/>
                    <p>{{translate(request.ctx.language, "settings_theme_selector_option_light")}}</p>
                </label>
                <input type="radio" id="dark-theme-selector" name="theme" value="dark" {% if request.ctx.preferences.theme =="dark"%}checked{%endif%}/>
                <label for="dark-theme-selector">
                    <img src="/assets/images/priviblur-dark.svg"/>
                    <p>{{translate(request.ctx.language, "settings_theme_selector_option_dark")}}</p>
                </label>
            </fieldset>
            <hr>
            <div id="language-option" aria-describedby="language-selector-info-box">
                <div class="option-info-box">
                    <label for="language-selector">{{translate(request.ctx.language, "settings_language_selector")}}</label>
                    <p id="language-selector-info-box">{{translate(request.ctx.language, "settings_language_selector_desc")}}</p>
                </div>
                <select name="language" id="language-selector" aria-describedby="language-selector-info-box">
                {%- for lang in request.app.ctx.SUPPORTED_LANGUAGES %}
                    {% if lang == request.ctx.language %}
                        <option value="{{lang}}" selected>{{-request.app.ctx.LANGUAGE_NAMES[lang]}}</option>
                    {% else %}
                        <option value="{{lang}}">{{-request.app.ctx.LANGUAGE_NAMES[lang]}}</option>
                    {% endif %}
                {%- endfor %}
                </select>
            </div>
        </div>
        <div id="settings-footer">
            <a id="copy-as-bookmarklet" href="/settings/restore?{{request.ctx.preferences.to_url_encoded()}}">
                {{translate(request.ctx.language, "settings_copy_as_bookmarklet")}}
            </a>
            <div>
                <a href="/settings" class="secondary button">{{translate(request.ctx.language, "settings_cancel_changes")}}</a>
                <input type="submit" class="primary button" value="{{translate(request.ctx.language, "settings_save_changes")}}"/>
            </div>
        </div>
     </form>
{% endblock %}