{% extends "timeline.jinja" %}
{% from 'components/icons/expand.jinja' import dropdown_icon  %}
{% block title %}{{tag | e}}{% endblock %}
{% block control_bar %}
    <li class="control-bar-action no-js" id="sort-by-filter" title="{{translate(request.ctx.language, "timeline_tagged_sort_by_filter_title")}}"><span>{{translate(request.ctx.language, "timeline_tagged_sort_by_filter_" + sort_by)}}{{dropdown_icon(16,16)}}</span>
        <ul class="control-bar-dropdown-menu">
            <li {% if sort_by == "top"%} class="selected" {% endif %}><a href="/tagged/{{tag | encodepathsegment}}{{ add_query(query_args | update_query_params("sort", "top")) }}">{{translate(request.ctx.language, "timeline_tagged_sort_by_filter_top")}}</a></li>
            <li {% if sort_by == "recent"%} class="selected" {% endif %}><a href="/tagged/{{tag | encodepathsegment}}{{ add_query(query_args | update_query_params("sort", "recent")) }}">{{translate(request.ctx.language, "timeline_tagged_sort_by_filter_recent")}}</a></li>
        </ul>
    </li>
{% endblock %}
