{% extends "base.jinja" %}
{% from 'macros/insert_content_list.jinja' import insert_content_list with context %}


{% block head %}<link rel="stylesheet" type="text/css" href="/assets/css/timeline.css?v={{app.ctx.CURRENT_COMMIT}}">{% endblock %}
{% block title %}{{title}}{% endblock%}

{% block center %}
    <ul id="timeline-control-bar">
        {% block control_bar %}
        {% endblock %}
    </ul>

    {{insert_content_list("timeline", timeline.elements)}}

    {%- if timeline.next %}
        <div class="paging">
            {%- block paging -%}
                <a class="primary next-page button" href="{{request.path}}?continuation={{timeline.next.cursor | urlencode}}#m">{{translate(request.ctx.language, "pagination_next_page")}}</a>
            {%- endblock -%}
        </div>
    {% endif %}
{% endblock %}