{% extends "base.jinja" %}
{% from 'macros/insert_content_list.jinja' import insert_content_list with context %}
{% from 'macros/add_query.jinja' import add_query  %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/css/timeline.css?v={{app.ctx.CURRENT_COMMIT}}">
    <link rel="alternate" type="application/rss+xml" href="{{request.path}}/rss{{add_query(request.query_string)}}"/>
{% endblock %}
{% block title %}{{title}}{% endblock%}

{% block center %}
    <ul id="timeline-control-bar">
        {% block control_bar %}
        {% endblock %}
    </ul>

    {% if timeline.signposts is defined or alerts is defined %}
        {% include "components/alerts_array.jinja"%}
    {% endif %}

    {{insert_content_list("timeline", timeline.elements)}}

    {%- if timeline.next %}
        <div class="paging">
            {%- block paging -%}
                <a class="primary next-page button" href="{{request.path}}?continuation={{timeline.next.cursor | urlencode}}#m">{{translate(request.ctx.language, "pagination_next_page")}}</a>
            {%- endblock -%}
        </div>
    {% endif %}
{% endblock %}