{% extends "base.jinja" %}
{% block head %}
<style>
#priviblur-error {
    text-align: center;
}
</style>

{% endblock %}
{% block title %}Error - Priviblur{% endblock %}

{% block content %}
<section id="priviblur-error">
    <div>
        <h1 aria-label="Error explanation heading">{{error_heading}}</h1>
        <p aria-label="Error explanation">{{error_description}}</h1>
    </div>
</section>
{%- endblock %}