{%extends "base.jinja"%}
{% block center %}
<div class="post-notes">
    {% if note_type is reply_notes %}
        {% include "blog/post/reply_notes.jinja" %}
    {% elif note_type is reblog_notes %}
        {% include "blog/post/reblog_notes.jinja" %}
    {% elif note_type is like_notes %}
        {% include "blog/post/like_notes.jinja" %}
    {% endif %}
</div>
{% endblock %}