<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" version="2.0"{% if request.app.ctx.PRIVIBLUR_CONFIG.deployment.domain %} xml:base="{{request.app.ctx.PRIVIBLUR_CONFIG.deployment.domain}}" {%endif%}>
  <channel>
    <title>{%block title%}{%endblock%} {{translate(request.ctx.language, "page_title_suffix")}}</title>
    <description>{%block description%}{%endblock%}</description>
    <link>{{page_url}}</link>
    <atom:link href={%block feed_rss_link%}"{{page_url}}/rss"{%endblock%} rel="self" type="application/rss+xml" />
    <atom:updated>{{updated.isoformat()}}</atom:updated>
    <lastBuildDate>{{updated.strftime("%a, %d %b %Y %H:%M:%S %z")}}</lastBuildDate>
    {% block logo %}{% endblock %}
    {% block channel_fields %}{% endblock %}
    {% block content %}
    {% endblock %}
  </channel>
</rss>