{% extends "rss/base.xml.jinja" %}
{% from 'post/components/header.jinja' import create_post_header  %}
{% from 'macros/add_query.jinja' import add_query  %}
{% block title %}{{blog.blog_info.title | e}}{% endblock %}
{% block logo %}
    <image>
        <url>{{url_handler(blog.blog_info.avatar[-2].url)}}</url>
        <title>{{translate(request.ctx.language, "blog_avatar_alt")}}</title>
        <link>{{page_url}}</link>
    </image>
    <atom:logo><atom:icon>{{url_handler(blog.blog_info.avatar[-2].url)}}</atom:icon></atom:logo>
{% endblock %}
{% block channel_fields %}<atom:author><name>{{blog.blog_info.name}}</name></atom:author>{% endblock %}

{% block description %}
    {%- if blog.blog_info.description_npf -%}
        {%- set _, description_html = format_npf(blog.blog_info.description_npf, request=request) -%}
    {%- else -%}
        {%- set description_html = "" %}
    {%- endif -%}
    {{-description_html|e-}}
{% endblock %}

{% block content %}
{% endblock %}
