html, body, .container {
    height: 100%;
}

body {
    font-family: Inter;
    font-size: 14px;
    background: #EEEEEF;
    margin: 0;
}

p {
    margin: 0;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter.var.woff2");
}

.container {
    display: flex;
    flex-direction: column;
}

.contents {
    margin: auto;
    max-width: 590px;
}

.footer-buffer {
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: white;
    padding: 20px 25px 0;
    margin-bottom: 30px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.navbar div {
    display: flex;
    align-items: center;
} 

div.left-section {
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

a.logo {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #6b7280;
}

.search-bar {
    display: flex;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    padding: 10px 10px;
}

.search-bar input {
    width: 100%;
    text-indent: 10px;
    border: 0;
    background: none;
}

.search-bar input:focus {
    outline: 0;
}

.center-section {
    height: 100%;
    width: unset;
}

.nav-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.nav-tab:hover {
    background: #f8f8f8;
}

.selected-tab {
    border-color: #6b7280;
    border-width: 0 0 3px;
    border-style: solid;
}

.nav-tab svg {
    width: 30px;
    height: 30px;
}

.right-section {
    width: 100%;
    flex-direction: row-reverse;

    position: absolute;
    right: 30px;

}

@media screen and (min-width: 768px) {
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 25px;
    }
    
    div.left-section {
        flex-direction: row;
    }

    .logo {
        display: unset;
    }

    .right-section {
        position: unset;
    }

    .next-page {
        padding: 10px 15px;
        font-size: 14px;
    }
}

@media screen and (min-width: 1680px) {
    .search-bar {
        width: 390px;
    }
}

.timeline, .blog-posts {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.paging {
    text-align: center;
    margin-top: 25px;
}

.next-page {
    display: inline-block;
    color: #383b42;
    font-weight: 450;
    letter-spacing: 0.3px;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 5px;
    background: #eeeeef;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.next-page:hover {
    background: #dcdcdc;
}

@media screen and (min-width: 768px) {
    .next-page {
        padding: 10px 15px;
        font-size: 14px;
    }
}


#timeline-control-bar {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    padding: 0;
}

.control-bar-action {
    display: flex;
    align-items: center;
    background: none;
    color: #6b7280;
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    border-radius: 25px;
    box-sizing: border-box;
    position: relative;
}

li.control-bar-action:hover {
    background: #dcdcdc;
}

.control-bar-action > svg {
    vertical-align: middle;
}

.control-bar-dropdown-menu {
    visibility: hidden;
    position: absolute;
    top: 40px;
    padding: 0;
    list-style: None;
    background: #EEEEEF;
	box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 5px 5px -3px rgba(0,0,0,.2), 0 3px 14px 2px rgba(0,0,0,.12);
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: fit-content;
}

.control-bar-dropdown-menu li {
    padding: 10px 20px;
    white-space: nowrap;
}

.control-bar-dropdown-menu li:hover {
    background: #dcdcdc;
}

.control-bar-dropdown-menu .selected {
    background: #dcdcdc;
}

li.control-bar-action:hover .control-bar-dropdown-menu {
    visibility: visible;
}


@media screen and (max-width: 768px) {
    #timeline-control-bar {
        margin-left: 10px;
    }

    .control-bar-action {
        font-size: 16px;
    }
}

.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding: 25px 0 10px 0;
    gap: 10px;
    color: #4f4f4f;
}

.page-footer a {
    text-decoration: underline;
}

.page-footer a {
    text-decoration: underline;
}