/* https://css-tricks.com/a-dry-approach-to-color-themes-in-css/ */

:root {
    --ON: initial;
    --OFF: ;
}

.default-theme, .light-theme {
    --light: var(--ON);
    --dark: var(--OFF);
}

.dark-theme {
    --light: var(--OFF);
    --dark: var(--ON);
}

/* If user prefers dark, then that's what they'll get */
@media (prefers-color-scheme: dark) {
    .default-theme {
      --light: var(--OFF);
      --dark: var(--ON);
    }
}

/* Color palettes */
body {
    --color-gray-900: hsl(41, 15%, 15%);
    --color-gray-800: hsl(36, 10%, 25%);
    --color-gray-700: hsl(36, 5%, 35%);
    --color-gray-600: hsl(36, 3%, 45%);
    --color-gray-500: hsl(36, 3%, 55%);
    --color-gray-400: hsl(36, 4%, 68%);
    --color-gray-300: hsl(36, 5%, 80%);
    --color-gray-250: hsl(38, 6%, 86%);
    --color-gray-200: hsl(41, 8%, 91%);
    --color-gray-175: hsl(41, 8%, 92%);
    --color-gray-150: hsl(42, 10%, 95%);
    --color-gray-125: hsl(43, 10%, 97%);
    --color-gray-100: hsl(45, 10%, 98%);
    --color-gray-0: white;

    --color-primary-900: hsl(25, 100%, 15%);
    --color-primary-800: hsl(27, 50%, 30%);
    --color-primary-700: hsl(30, 50%, 40%);
    --color-primary-650: hsl(33, 70%, 42%);
    --color-primary-600: hsl(33, 70%, 45%);
    --color-primary-500: hsl(36, 80%, 50%);
    --color-primary-400: hsl(36, 90%, 60%);
    --color-primary-300: hsl(36, 100%, 70%);
    --color-primary-200: hsl(36, 100%, 85%);
    --color-primary-100: hsl(36, 100%, 95%);

    --color-accent-1-900: hsl(44, 70%, 25%);
    --color-accent-1-850: hsl(44, 70%, 30%);
    --color-accent-1-800: hsl(44, 55%, 40%);
    --color-accent-1-700: hsl(44, 50%, 50%);
    --color-accent-1-600: hsl(44, 60%, 65%);
    --color-accent-1-500: hsl(44, 89%, 72%);
    --color-accent-1-400: hsl(44, 90%, 77%);
    --color-accent-1-300: hsl(44, 90%, 85%);
    --color-accent-1-200: hsl(44, 95%, 92%);
    --color-accent-1-100: hsl(44, 100%, 98%);

    --color-dt-gray-900: hsl(41, 5%, 4%);
    --color-dt-gray-800: hsl(41, 3%, 5%);
    --color-dt-gray-700: hsl(41, 2%, 7%);
    --color-dt-gray-600: hsl(41, 2%, 9%);
    --color-dt-gray-575: hsl(41, 2%, 10.5%);
    --color-dt-gray-550: hsl(41, 2%, 11%);
    --color-dt-gray-525: hsl(41, 2%, 12%);
    --color-dt-gray-500: hsl(41, 3%, 13%);
    --color-dt-gray-475: hsl(41, 4%, 14%);
    --color-dt-gray-450: hsl(41, 4%, 16%);
    --color-dt-gray-400: hsl(41, 3%, 19%);
    --color-dt-gray-300: hsl(41, 4%, 25%);
    --color-dt-gray-250: hsl(41, 3%, 40%);
    --color-dt-gray-225: hsl(41, 3%, 50%);
    --color-dt-gray-200: hsl(41, 5%, 60%);
    --color-dt-gray-100: hsl(41, 7%, 80%);
}

/* Color definitions */
body {
    --color-background: var(--light, var(--color-gray-175)) var(--dark, var(--color-dt-gray-800));
    --color-top-level-card-bg: var(--light, var(--color-gray-0)) var(--dark, var(--color-dt-gray-600));
    --color-text: var(--light, var(--color-gray-900)) var(--dark, var(--color-dt-gray-100));

    --color-nav-bar-icon: var(--light, var(--color-gray-700)) var(--dark, var(--color-dt-gray-200));
    --color-nav-bar-icon-hover: var(--light, var(--color-gray-200)) var(--dark, var(--color-dt-gray-500));;
    --color-nav-bar-selected-tab-highlight: var(--light, var(--color-primary-400)) var(--dark, var(--color-primary-600));
    --color-search-icon-fill: var(--light, var(--color-gray-500)) var(--dark, var(--color-gray-600));
    --color-search-bar-bg: var(--light, var(--color-gray-150)) var(--dark, var(--color-dt-gray-550));
    --color-logo: var(--light, var(--color-primary-500)) var(--dark, var(--color-primary-500));

    --color-footer-text: var(--light, var(--color-gray-700)) var(--dark, var(--color-dt-gray-250));

    --color-community-label-text: var(--light, var(--color-gray-700)) var(--dark, var(--color-dt-gray-100));
    --color-community-label-button-text: var(--light, var(--color-gray-600)) var(--dark, var(--color-dt-gray-200));
    --color-community-label-button-bg: var(--light, var(--color-gray-200)) var(--dark, var(--color-dt-gray-400));
    --color-community-label-button-highlight: var(--light, var(--color-gray-300)) var(--dark, var(--color-dt-gray-300));
    --color-community-label-button-hover: var(--light, rgba(0,0,0,0.03)) var(--dark, rgba(255,255,255,0.05));
    --color-community-label-gradient-1: var(--light, var(--color-gray-0)) var(--dark, hsl(41, 4%, 9%));
    --color-community-label-gradient-2: var(--light, rgba(255,255,255,0.7)) var(--dark, hsla(0,0%,0%,0.7));

    --color-post-blog-name: var(--light, var(--color-gray-800)) var(--dark, var(--color-dt-gray-100));
    --color-reblog-attribution: var(--light, var(--color-gray-500)) var(--dark, var(--color-dt-gray-250));
    --color-post-link-block-subtitle: var(--light, var(--color-gray-600)) var(--dark, var(--color-dt-gray-250));
    --color-post-header-date-separator: var(--light, var(--color-gray-600)) var(--dark, var(--color-dt-gray-250));

    --color-ask-header: var(--light, var(--color-gray-800)) var(--dark, var(--color-dt-gray-225));
    --color-ask-bg: var(--light, var(--color-gray-200)) var(--dark, var(--color-dt-gray-525));

    --color-post-img-alt-text-widget-bg: var(--light, var(--color-gray-900)) var(--dark, var(--color-dt-gray-600));
    --color-post-img-alt-text-widget-text: var(--light, var(--color-gray-100)) var(--dark, var(--color-text));

    --color-poll-text-color: var(--light, var(--color-gray-800)) var(--dark, var(--color-gray-200));
    --color-poll-winner-bg: var(--light, var(--color-primary-300)) var(--dark, var(--color-primary-700));
    --color-poll-proportion-bar-bg: var(--light, var(--color-gray-250)) var(--dark, var(--color-dt-gray-300));
    --color-poll-choice-bg: var(--light, var(--color-gray-150)) var(--dark, var(--color-dt-gray-500));

    --color-post-reveal-truncated-content-button: var(--light, var(--color-primary-500)) var(--dark, var(--color-primary-650));
    --color-post-reveal-truncated-content-button-hover: var(--light, var(--color-primary-400)) var(--dark, var(--color-primary-600));

    --color-post-footer: var(--light, var(--color-gray-500)) var(--dark, var(--color-dt-gray-250));
    --color-post-footer-post-interaction: var(--light, var(--color-gray-500)) var(--dark, var(--color-dt-gray-225));
    --color-post-tag-bg: var(--light, var(--color-gray-125)) var(--dark, var(--color-dt-gray-575));
    --color-post-tag-hover: var(--light, var(--color-gray-175)) var(--dark, var(--color-dt-gray-500));

    --color-trail-post-separator: var(--light, var(--color-gray-300)) var(--dark, var(--color-dt-gray-400));

    --color-post-notes-viewer-nav-bar-bg: var(--light, var(--color-gray-150)) var(--dark, var(--color-dt-gray-550));
    --color-post-notes-viewer-nav-bar-item: var(--light, var(--color-gray-600)) var(--dark, var(--color-dt-gray-250));
    --color-reblog-note-separator: var(--light, var(--color-gray-100)) var(--dark, var(--color-dt-gray-300));

    --color-primary-button-bg: var(--light, var(--color-primary-500)) var(--dark, var(--color-primary-600));
    --color-primary-button-hover: var(--light, var(--color-primary-600)) var(--dark, var(--color-primary-700));
    --color-primary-button-text: var(--light, var(--color-primary-100)) var(--dark, var(--color-primary-100));

    --color-secondary-button-bg: var(--light, var(--color-gray-200)) var(--dark, var(--color-dt-gray-500));
    --color-secondary-button-hover: var(--light, var(--color-gray-250)) var(--dark, var(--color-dt-gray-600));
    --color-button-secondary-text: var(--light, var(--color-gray-800)) var(--dark, var(--color-gray-200));

    --color-tertiary-button-color: var(--light, var(--color-gray-900)) var(--dark, var(--color-dt-gray-250));
    
    --color-dropdown-menu-bg: var(--light, var(--color-gray-100)) var(--dark, var(--color-dt-gray-550));
    --color-dropdown-action-select: var(--light, var(--color-gray-250)) var(--dark, var(--color-dt-gray-500));
    --color-dropdown-action-hover: var(--light, var(--color-gray-250)) var(--dark, var(--color-dt-gray-500));
    --color-control-bar-action-text: var(--light, var(--color-gray-600)) var(--dark, var(--color-gray-500));
    --color-dropdown-menu-item-selected: var(--light, var(--color-gray-250)) var(--dark, var(--color-dt-gray-475));
    --color-dropdown-menu-item-hover: var(--light, var(--color-gray-175)) var(--dark, var(--color-dt-gray-400));

    --color-blog-header-blog-name: var(--light, var(--color-gray-500)) var(--dark, var(--color-dt-gray-200));
    --color-setting-top-heading: var(--light, var(--color-gray-900)) var(--dark, var(--color-dt-gray-100));
    --color-setting-option-separator: var(--light, var(--color-gray-175)) var(--dark, var(--color-dt-gray-450));
    --color-setting-option: var(--light, var(--color-gray-900)) var(--dark, var(--color-dt-gray-100));
    --color-setting-option-desc: var(--light, var(--color-gray-500)) var(--dark, var(--color-dt-gray-250));
    --color-settings-theme-select-outline: var(--light, var(--color-primary-400)) var(--dark, var(--color-primary-400));
    --color-settings-dropdown-option-bg: var(--light, var(--color-gray-200)) var(--dark, var(--color-dt-gray-400));

    --tumblr-signpost-bg: var(--light, var(--color-gray-125)) var(--dark, var(--color-dt-gray-700));
    --tumblr-signpost-border: var(--light, var(--color-gray-300)) var(--dark, var(--color-dt-gray-500));
}

html, body, .container {
    min-height: 100vh;
}

body {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, sans-serif;
    font-size: 14px;
    background: var(--color-background);
    margin: 0;
}

p {
    margin: 0;
}

img {
    color: var(--color-text)
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter.var.woff2") format('woff2-variations');
    src: url("/assets/fonts/Inter.var.woff2") format('woff2') tech('variations');
    font-weight:100 900;
    font-display: swap;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-column {
    justify-self: center;
}

.buffer {
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: var(--color-top-level-card-bg);
    padding: 20px 25px 0;
}

.navbar div {
    display: flex;
    align-items: center;
} 

div.left-section {
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

div.center-section {
    display: grid;
    grid-auto-flow: column;
}

a.logo {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-logo);
}

.search-bar {
    display: flex;
    width: 100%;
    border-radius: 25px;
    padding: 10px 10px;
    background:var(--color-search-bar-bg);
}

.search-bar input {
    width: 100%;
    text-indent: 10px;
    border: 0;
    color: var(--color-text);
    background: none;
}

.search-bar input:focus {
    outline: 0;
}

.search-bar .icon path {
    fill: var(--color-search-icon-fill);
}

.nav-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.nav-tab:hover {
    background:  var(--color-nav-bar-icon-hover);
}

.selected-tab {
    border-color: var(--color-nav-bar-selected-tab-highlight);
    border-width: 0 0 3px;
    border-style: solid;
}

.nav-tab svg {
    width: 30px;
    height: 30px;
}

.nav-tab path, .right-section path, .icon path {
    fill: var(--color-nav-bar-icon);
}

.right-section {
    width: 100%;
    gap: 20px;
    justify-content: flex-end;

    position: absolute;
    right: 30px;
}

@media screen and (min-width: 768px) {
    .contents {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 25px;
    }
    
    div.left-section {
        flex-direction: row;
    }

    .logo {
        display: unset;
    }

    .right-section {
        position: unset;
    }
}

@media screen and (min-width: 1680px) {
    .search-bar {
        width: 390px;
    }
}

.timeline, .blog-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    max-width: 590px;
}

.paging {
    text-align: center;
    margin-top: 25px;
    padding: 0 25px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    letter-spacing: 0.3px;
    font-weight: 450;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
}

.primary.button, a.primary.button {
    color: var(--color-primary-button-text);
    background: var(--color-primary-button-bg);
}

.primary.button:hover {
    background: var(--color-primary-button-hover);
}

.secondary.button {
    color: var(--color-button-secondary-text);
    background: var(--color-secondary-button-bg);
}

.secondary.button:hover {
    background-color: var(--color-secondary-button-hover);
}

.next-page {
    padding: 12px 0px;
    font-size: 16px;
    width: 100%;

    border-radius: 25px;
}

@media screen and (min-width: 768px) {
    .paging {
        padding: 0 0;
    }

    .next-page {
        padding: 10px 20px;
        font-size: 14px;
        width: auto;
        /* font-weight: unset; */
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    }
}


#timeline-control-bar {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0 0 15px 0;
}

.control-bar-action {
    display: flex;
    align-items: center;
    background: none;
    color: var(--color-control-bar-action-text);
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    border-radius: 25px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

li.control-bar-action:hover {
    background: var(--color-dropdown-action-hover);
}

.control-bar-action > span > svg {
    vertical-align: middle;
}

.control-bar-dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    padding: 0;
    list-style: None;
    background: var(--color-dropdown-menu-bg);
	box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 5px 5px -3px rgba(0,0,0,.2), 0 3px 14px 2px rgba(0,0,0,.12);
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: fit-content;
    z-index: 2;

    transition: all 50ms ease-in-out;
}

.control-bar-dropdown-menu li > a {
    display: flex;
    padding: 10px 20px;
    white-space: nowrap;
}

.control-bar-dropdown-menu li > a:hover {
    background: var(--color-dropdown-menu-item-hover);
}

.control-bar-dropdown-menu .selected {
    background: var(--color-dropdown-menu-item-selected);
}

.active-dropdown-menu {
    background: var(--color-dropdown-action-select);
}

.active-dropdown-menu .control-bar-dropdown-menu{
    opacity: 1;
    visibility: visible;
    transition: all 50ms ease-in-out;
}

li.no-js:hover .control-bar-dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition: all 50ms ease-in-out;
}

li.no-js .control-bar-dropdown-menu {
    top: 40px;
}


@media screen and (max-width: 768px) {
    #timeline-control-bar {
        margin-left: 10px;
    }

    .control-bar-action {
        font-size: 16px;
    }
}

.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 10px;
    gap: 10px;
    color: var(--color-footer-text);
}

.page-footer a {
    text-decoration: underline;
}

.page-footer a {
    text-decoration: underline;
}

.error-technical-details pre {
    white-space: pre-wrap;
}

.alerts {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.alert {
    box-sizing: border-box;
    overflow: hidden;

    width: 500px;
    margin: 0 20px;
    padding: 20px 25px;
    border-radius: 10px;
    letter-spacing: 0.3px;
    border: 2px solid var(--color-gray-300);
    background: var(--color-gray-150);
}

.alert>figcaption {
    display: grid;
    grid-template-areas:
        "icon heading"
        ". message";
    grid-template-columns: max-content 1fr;
    column-gap: 10px;
    align-items: center;
}

.alert svg {
    height: 24px;
    grid-area: icon;
}

.alert h4 {
    grid-area: heading;
    color: var(--color-gray-800);
    margin: 0
}

.alert p {
    grid-area: message;
    color: var(--color-gray-700);
    font-weight: 500;
    line-height: 2;
}

.warning.alert {
    background: var(--color-accent-1-200);
    border: 2px solid var(--color-accent-1-600);
}

.warning.alert p {
    color: var(--color-accent-1-800);
}

.warning.alert h4 {
    color: var(--color-accent-1-850)
}

.warning.alert svg path {
    fill: var(--color-accent-1-800);
}
