/* https://css-tricks.com/a-dry-approach-to-color-themes-in-css/ */

:root {
    --ON: initial;
    --OFF: ;
}

.light-theme {
    --light: var(--ON);
    /* --dark: var(--OFF); */
}

.dark-theme {
    --light: var(--OFF);
    /* --dark: var(--ON); */
}

/* If user prefers dark, then that's what they'll get */
@media (prefers-color-scheme: dark) {
    .theme-default {
      --light: var(--OFF);
      /* --dark: var(--ON); */
    }
}

:root {
    --color-gray-900: var(--light, #000000);
    --color-gray-800: var(--light, #383b42);
    --color-gray-700: var(--light, #4f4f4f);
    --color-gray-600: var(--light, #6b7280);
    --color-gray-500: var(--light, #8e8e8e);
    --color-gray-400: var(--light, #acacac);
    --color-gray-350: var(--light, #BABABA);
    --color-gray-300: var(--light, #dcdcdc);
    --color-gray-250: var(--light, #edeeee);
    --color-gray-200: var(--light, #eeeeef);
    --color-gray-100: var(--light, #f5f5f5);
    --color-gray-75: var(--light, #f8f8f8);
    --color-gray-50: var(--light, #ffffff);
}


html, body, .container {
    min-height: 100vh;
}

body {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, sans-serif;
    font-size: 14px;
    background: var(--color-gray-200);
    margin: 0;
}

p {
    margin: 0;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter.var.woff2") format('woff2-variations');
    src: url("/assets/fonts/Inter.var.woff2") format('woff2') tech('variations');
    font-weight:100 900;
    font-display: swap;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-column {
    justify-self: center;
}

.buffer {
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: var(--color-gray-50);
    padding: 20px 25px 0;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.navbar div {
    display: flex;
    align-items: center;
} 

div.left-section {
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

a.logo {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: var(--color-gray-600);
}

.search-bar {
    display: flex;
    width: 100%;
    border: 1px solid var(--color-gray-300);
    border-radius: 25px;
    padding: 10px 10px;
}

.search-bar input {
    width: 100%;
    text-indent: 10px;
    border: 0;
    background: none;
}

.search-bar input:focus {
    outline: 0;
}

.search-bar .icon path {
    fill: var(--color-gray-400);
}

.nav-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.nav-tab:hover {
    background:  var(--color-gray-75);
}

.selected-tab {
    border-color: var(--color-gray-600);
    border-width: 0 0 3px;
    border-style: solid;
}

.nav-tab svg {
    width: 30px;
    height: 30px;
}

.nav-tab path, .right-section path, .icon path {
    fill: var(--color-gray-600);
}

.right-section {
    width: 100%;
    gap: 20px;
    justify-content: flex-end;

    position: absolute;
    right: 30px;
}

@media screen and (min-width: 768px) {
    .contents {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 25px;
    }
    
    div.left-section {
        flex-direction: row;
    }

    .logo {
        display: unset;
    }

    .right-section {
        position: unset;
    }
}

@media screen and (min-width: 1680px) {
    .search-bar {
        width: 390px;
    }
}

.timeline, .blog-posts {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;

    max-width: 590px;
}

.paging {
    text-align: center;
    margin-top: 25px;
    padding: 0 25px;
}

.next-page {
    display: inline-block;
    color: var(--color-gray-800);
    font-weight: 450;
    letter-spacing: 0.3px;
    padding: 12px 0px;
    font-size: 16px;
    width: 100%;
    font-weight: 550;

    border-radius: 25px;
    background: var(--color-gray-200);
}

.next-page:hover {
    background: var(--color-gray-300);
}

@media screen and (min-width: 768px) {
    .paging {
        padding: 0 0;
    }

    .next-page {
        padding: 10px 15px;
        font-size: 14px;
        width: auto;
        font-weight: unset;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}


#timeline-control-bar {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0 0 15px 0;
}

.control-bar-action {
    display: flex;
    align-items: center;
    background: none;
    color: var(--color-gray-600);
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    border-radius: 25px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

li.control-bar-action:hover {
    background: var(--color-gray-300);
}

.control-bar-action > span > svg {
    vertical-align: middle;
}

.control-bar-dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    padding: 0;
    list-style: None;
    background: var(--color-gray-200);
	box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 5px 5px -3px rgba(0,0,0,.2), 0 3px 14px 2px rgba(0,0,0,.12);
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: fit-content;
    z-index: 2;

    transition: all 50ms ease-in-out;
}

.control-bar-dropdown-menu li > a {
    display: flex;
    padding: 10px 20px;
    white-space: nowrap;
}

.control-bar-dropdown-menu li:hover {
    background: var(--color-gray-300);
}

.control-bar-dropdown-menu .selected {
    background: var(--color-gray-300);
}

.active-dropdown-menu {
    background: var(--color-gray-300);
}

.active-dropdown-menu .control-bar-dropdown-menu{
    opacity: 1;
    visibility: visible;
    transition: all 50ms ease-in-out;
}

li.no-js:hover .control-bar-dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition: all 50ms ease-in-out;
}

li.no-js .control-bar-dropdown-menu {
    top: 40px;
}


@media screen and (max-width: 768px) {
    #timeline-control-bar {
        margin-left: 10px;
    }

    .control-bar-action {
        font-size: 16px;
    }
}

.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 10px;
    gap: 10px;
    color: var(--color-gray-700);
}

.page-footer a {
    text-decoration: underline;
}

.page-footer a {
    text-decoration: underline;
}