.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 25px;
  background: var(--color-top-level-card-bg);
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 590px) {
  .post-body {
    width: auto;
  }
}

.post-body {
  gap: 4px;
}

.post-header {
  display: flex;
  text-decoration: none;
}

.asker {
  color: var(--color-ask-header)
}

.ask-body {
  padding: 15px 15px 0;
  background: var(--color-ask-bg);
  border-radius: 5px;
  width: 100%;
}

.reblog-attribution {
  display: flex;
  gap: 2px;
  position: relative;
  right: 3px;
}

.reblog-attribution .blog-name {
  color: var(--color-reblog-attribution);
}

.reblog-attribution .icon path {
  fill: var(--color-reblog-attribution)
}

.post-author {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
}

.author-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 2px;
}

.primary-post-author {
  display: flex;
  gap: 5px;
  color: var(--color-post-header-date-separator);
}

a.blog-name {
  color: var(--color-post-blog-name);
  font-weight: bold;
  align-self: center;
}

a.blog-name:hover {
  align-self: center;
}

.broken-blog, .deactivated-blog {
  color: var(--color-text);
  font-weight: 500;
}

.primary-post-author .separator {
  font-size: 10px;
  align-self: center;
}

.post-timestamp {
  align-self: center;
  font-weight: 600;
}

.post-trails {
  display: flex;
  flex-direction: column;
}

.post-trails > .trail-post:first-child {
  padding-top: 25px;
}

.trail-post {
  display: flex;
  flex-direction: column;
  gap: 15px;

  border-top: 1px solid var(--color-trail-post-separator);
  padding: 25px 0px;
}

.trail-post .avatar {
  width: 40px;
  height: 40px;
}

.post-trails .trail-post:last-child {
  padding-bottom: 0px;
}

a.hidden-reblog {
  font-weight: 500;
}

.post-body > * {
  margin: unset;
}

.post-footer {
  display: flex;
  color: var(--color-post-footer);
  justify-content: space-around;
  flex-direction: column;
  align-self: end;
  margin-top: 15px;
  width: 100%;
  gap: 30px;
}

.post-tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.post-tag {
  display: inline-block;
  background: var(--color-post-tag-bg);
  border-radius: 6px;
  padding: 1px 5px;
  font-weight: 500;
}

.post-tag:hover {
  background: var(--color-post-tag-hover);
}

.post-interaction {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--color-post-footer-post-interaction);
}

.interaction-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.interaction-buttons path {
  fill: var(--color-post-footer-post-interaction);
}

.note-count {
  font-weight: bold;
}

.mature-content {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.community-label-cover {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(40px);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 0 30px;
  text-wrap: balance;

  background: linear-gradient(0deg, var(--color-community-label-gradient-1) 0%, var(--color-community-label-gradient-2) 100%);

  color: var(--color-community-label-text);
  z-index: 2;
}

.no-js.mature-content:hover {
  height: unset;
}

.no-js .community-label-cover:hover, .no-js.mature-content:hover .community-label-cover {
  display: none;
}

.community-label-cover > h3 {
  margin: 0;
}

.no-js-view-community-post-instruction {
  margin-top: 20px;
  font-size: 12px;
  color: var(--color-community-label-text);
}

.unblur-post-button.button, .no-js-view-community-post-instruction {
  background: none;
  padding: 5px 15px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-community-label-button-text);
  border: solid 2px var(--color-community-label-button-highlight);
  margin-top: 25px;
}

.unblur-post-button.button:hover {
  background: var(--color-community-label-button-hover);
}

.post-notes {
  background: var(--color-top-level-card-bg);
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 25px;
  padding: 15px 15px 25px;
}

.post-notes-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;
  padding: 0;
  background: var(--color-post-notes-viewer-nav-bar-bg);
  border-radius: 25px;
  margin: 0;
}

.post-notes-nav li {
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.post-notes-nav a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px;
  font-weight: 600;
  border-radius: 25px;
}

.post-notes-nav a, .icon > path {
  color: var(--color-post-notes-viewer-nav-bar-item);
  fill: var(--color-post-notes-viewer-nav-bar-item);
}

.post-notes-nav a:hover {
  background: var(--color-nav-bar-icon-hover);
}

.post-notes-nav svg {
  align-items: center;
}

.post-notes section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 590px;

  padding: 0 40px;
}

.note {
  width: 590px;
}

@media (max-width: 590px) {
  .note {
    width: auto;
  }
}

.post-notes > section > .note {
  padding: 0;
}

.post-notes > section > .reblog-note.note {
  gap: 0;
  border-radius: 0;
}

.post-notes > section > hr {
  width: 100%;
  color: var(--color-reblog-note-separator);
}

.blog-name-title-grouping > * {
  display: block;
}
