.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 25px;
  background: var(--color-gray-0);
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 590px) {
  .post-body {
    width: auto;
  }
}

.post-body {
  gap: 4px;
}

.post-header {
  display: flex;
  text-decoration: none;
}

.ask-body {
  padding: 15px 15px 0;
  background: var(--color-gray-200);
  border-radius: 5px;
  width: 100%;
}

.reblog-attribution {
  display: flex;
  gap: 2px;
  position: relative;
  right: 3px;
}

.reblog-attribution .blog-name {
  color: var(--color-gray-500);
}

.reblog-attribution .icon path {
  fill: var(--color-gray-500)
}

.post-author {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
}

.author-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 2px;
}

.primary-post-author {
  display: flex;
  gap: 5px;
  color: var(--color-gray-600);
}

a.blog-name {
  color: var(--color-gray-800);
  font-weight: bold;
  align-self: center;
}

a.blog-name:hover {
  align-self: center;
}

.broken-blog, .deactivated-blog {
  color: var(--color-gray-900);
  font-weight: 500;
}

.primary-post-author .separator {
  font-size: 10px;
  align-self: center;
}

.post-timestamp {
  align-self: center;
  font-weight: 600;
}

.post-trails {
  display: flex;
  flex-direction: column;
}

.post-trails > .trail-post:first-child {
  padding-top: 25px;
}

.trail-post {
  display: flex;
  flex-direction: column;
  gap: 15px;

  border-top: 1px solid var(--color-gray-300);
  padding: 25px 0px;
}

.trail-post .avatar {
  width: 40px;
  height: 40px;
}

.post-trails .trail-post:last-child {
  padding-bottom: 0px;
}

a.hidden-reblog {
  font-weight: 500;
}

.post-body > * {
  margin: unset;
}

.post-footer {
  display: flex;
  color: var(--color-gray-400);
  justify-content: space-around;
  flex-direction: column;
  align-self: end;
  margin-top: 15px;
  width: 100%;
  gap: 30px;
}

.post-tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.post-tag {
  display: inline-block;
  background: var(--color-gray-150);
  border-radius: 6px;
  padding: 1px 5px;
  font-weight: 500;
}

.post-tag:hover {
  background: var(--color-gray-175);
}

.post-interaction {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.interaction-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.interaction-buttons path {
  fill: var(--color-gray-500);
}

.note-count {
  /* background: #f5f5f5;
  border-radius: 5px;
  padding: 5px 10px; */
  font-weight: bold;
}

.mature-content {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.community-label-cover {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(40px);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 0 30px;
  text-wrap: balance;

  background: linear-gradient(0deg, rgba(255, 255, 255) 0%, rgba(255,255,255,0.8) 100%);

  color: var(--color-gray-700);
  z-index: 2;
}

.no-js.mature-content:hover {
  height: unset;
}

.no-js .community-label-cover:hover, .no-js.mature-content:hover .community-label-cover {
  display: none;
}

.community-label-cover > h3 {
  margin: 0;
}

.no-js-view-community-post-instruction {
  margin-top: 20px;
  font-size: 12px;
  color: var(--color-gray-700);
}

.unblur-post-button {
  background: none;
  padding: 5px 15px;
  border: 1px solid var(--color-gray-600);
  border-radius: 25px;
  margin-top: 25px;
}

.unblur-post-button:hover {
  background: var(--color-gray-200);
}