.settings {
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-radius: 10px;
    background: var(--color-top-level-card-bg);
    padding: 25px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .settings {
        width: 590px;
    }
}

#setting-heading {
    color: var(--color-setting-top-heading);
}

#setting-heading > h2 {
    margin: 0;
}

.main-tab > div, .main-tab > fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.settings hr {
    margin: 20px 0 20px 0;
    border-style: solid;
    width: 100%;
    border-color: var(--color-setting-option-separator);
    background-color: var(--color-setting-option-separator);
}

.option-info-box {
    padding: 0;
    margin: 0;
}

.option-info-box label {
    color: var(--color-setting-option);
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.option-info-box p {
    margin-top: 5px;
    color: var(--color-setting-option-desc);
    font-weight: 500;
}

#theme-selector input {
    margin: 0;
    padding: 0;
    appearance: none
}

#theme-selector input:checked + label img {
    outline: solid 3px var(--color-settings-theme-select-outline);
}

#theme-selector > label > p {
    text-align: center;
    font-weight: 600;
    color: var(--color-setting-option);
}

#theme-selector img {
    height: 125px;
    border-radius: 15px;
}

fieldset#theme-selector {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    border: 0;
    margin: 0;
    padding: 25px 0 0 0;
}

#theme-selector label[for="auto-theme-selector"] {
    text-align: center;
    width: 100%;
}

#settings-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12px;
    margin-top: 100px;
}

#copy-as-bookmarklet {
    font-weight: 550;
    color: var(--color-tertiary-button-color);
    display: flex;
    align-items: center;
    gap: 3px;
}

#settings-footer .button {
    box-shadow: none;
    font-weight: 700;
    font-size: 12px;
}
