.settings {
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-radius: 10px;
    background: var(--color-top-level-card-bg);
    height: 300px;
    padding: 25px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .settings {
        width: 590px;
    }
}

.settings .main-tab > * {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.settings > hr {
    margin: 15px;
    margin-left: 0;
    margin-right: 0;
}

.settings label {
    color: var(--color-setting-option);
    font-weight: 600;
}

#setting-heading {
    color: var(--color-setting-top-heading);
}

#setting-heading > h2 {
    margin: 0;
}

#settings-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12px;
}

#copy-as-bookmarklet {
    font-weight: 550;
    color: var(--color-tertiary-button-color);
}

#settings-footer .button {
    box-shadow: none;
    font-weight: 700;
    font-size: 12px;
}

.option-info-box p {
    margin-top: 5px;
    color: var(--color-setting-option-desc);
    font-weight: 500;
}