<div class="post">
    {% set contains_errors, content_tag = format_npf(element.content, element.layout, url_handler=url_handler) -%}

    <header class="post-header">
        <a class="link blog-name" href="/{{element.blog.name}}/{{element.id}}">{{element.blog.name}}</a>
        <span class="post-timestamp"> <time>{{element.date.strftime("%Y-%m-%d %H:%M %p")}}</time> </span>
    </header>

    {{- content_tag.render(pretty=False) -}}

    <footer class="post-footer">
        <div class="post-tags">
            {% for tag in element.tags %}
            <a class="post-tag" href="/tagged/{{url_escape(tag)}}">#{{html_escape(tag)}}</a>
            {% endfor %}
        </div>

        <div class="note-count">
            <span> {{- element.note_count }} </span>
        </div>
    </footer>
</div>
