{% for element in timeline.elements %}
    {% if not element.is_advertisement %}
        {% include 'components/post.jinja' %}
            <br>
            <hr>
            <br>
    {% endif %}
{% endfor %}
