{% macro render_error_details(name, message, context) %}
<details open="" class="error-technical-details">
<summary>{{translate(request.ctx.language, "priviblur_error_generic_technical_details_expansion_box_label")}}</summary>
    <pre>Error: {{name}}</pre>
    {% if exception_message %}<pre>Message: "{{message}}"</pre>{% endif %}
    <pre>Context:<br/><br/>{{context}}</pre>
</details>
{% endmacro %}