.container {
    display: flex;
}

.layout-middle-column {
    margin: auto;
    max-width: 540px;
}

.navbar  {
    text-align: center;
}

.search-bar {
    padding: 10px;
    margin: 1em;
}

.search-bar input {
    width: 540px;
    padding: 5px 10px;
}

.timeline {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.post {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.5em 1em;
    border-radius: 5px;
}

.paging {
    text-align: center;
    margin: 2.5em auto;
}

.paging .button {
    border: 3px solid rgba(0, 0, 0, 0.07);
    display: inline-block;
    padding: 2px 5px;
}