.post-body {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin: 0;
}

.post-body * {
  margin: 0
}

.layout-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin: 5px;
}

img {
  max-width: 100%;
}