{%- if notes.notes -%}
    {%- for note in notes.notes -%}
        {%- include "post/notes/reply.jinja" -%}
    {%- endfor -%}

    {% if slug %}
        <a href="/{{blog_name}}/{{post_id}}/{{slug}}?note_viewer=replies&after={{(notes.notes | last).reply_id}}">Next</a>
    {% else %}
        <a href="/{{blog_name}}/{{post_id}}?note_viewer=replies&after={{(notes.notes | last).reply_id}}">Next</a>
    {% endif %}
{%- endif -%}