{% from 'components/icons/reblog.jinja' import reblog_icon  %}
{% from 'components/icons/reply.jinja' import reply_icon  %}
{% from 'components/icons/heart.jinja' import heart_icon  %}


{#- A note viewer component by itself -#}
<section class="post-notes">
    <header>
        <ul class="post-notes-nav">
            <li>
                <a href="/{{post_url}}?note_viewer=replies" title="{{translate(request.ctx.language, "post_note_viewer_view_replies_tab_title")}}">
                    {{reply_icon(30, 30)}}
                    {{notes.total_replies}}
                </a>
            </li>
            <li>
            <a href="/{{post_url}}?note_viewer=reblogs" title="{{translate(request.ctx.language, "post_note_viewer_view_reblogs_tab_title")}}">
                {{reblog_icon(30, 30)}}
                {{notes.total_reblogs}}
            </a>
            </li>
            <li>
                <a href="/{{post_url}}?note_viewer=likes" title="{{translate(request.ctx.language, "post_note_viewer_view_likes_tab_title")}}">
                    {{heart_icon(30, 30)}}
                    {{notes.total_likes}}
                </a>
            </li>
        </ul>
    </header>
    <section>
        {% if notes.notes %}
            {%- block notes -%}
            {%- endblock -%}
        {% endif %}
    </section>
    <footer>
        {%- block paging -%}
        {%- endblock -%}
    </footer>
</div>